#failText{
    color:red;
}
#succText{
    color:green;
}
#uploadImage{
    border-radius: 50%;
    object-fit: cover;
    width:190px;
    height:190px;
}
.input{
    max-width: 90%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    /* text-align: center; */
  }
#lab{
    margin-left: 3%;
}
#edit{
    position: absolute;
    /* float: right; */
    width: 30px;
    height: 30px;
    left: 175px;
    top: 245px;
    background-color: rgb(236, 166, 44);
    border-radius: 50%;
}
#top{
    background-color: rgb(181, 255, 255);
    width: 100%;
    height: 20%;
}
#exit{
    float: right;
    margin-right: 9%;
}
#buttonSpot{
    margin-left: 2%;
}