.bold {
    font-weight: bold;
}

#editProfileButton {
    position: absolute;
    width: 120px;
    margin-top: 320px;
    margin-left: 90%;
}

#foodBanner {
    width: 100%;
    height: 300px;
}

.h4{
    margin-left: 40px;
}

#name {
    margin-top: 100px;
    text-align: center;
}


#profilePic {
    position: absolute;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 80px;
    border-radius: 50%;
}

#progressBar {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 25%;
    margin-top: 50px;
}

.recipe_card_group{
    margin: 0 auto;
}

#skillLevel {
    margin-top: 10px;
    text-align: center
}

.title {
    
    margin-top: 50px;
    text-align: center;
}

#username {
    text-align: center;
}