.recipeimage {
    height: 200px;
    width: 100%;
    object-fit: cover
}

.article {
    color: black;
    text-decoration: none !important;
    display: block;
    margin: auto;
    text-align: center;
}

.articleimage {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#landingheader {
    text-align: center;
}

.on {
    color: #000;
}
.off {
    color: #ccc;
}

.card-body {
    padding-top: 0.3rem;
}