#formContainer {
    max-width: 640px;
    padding-bottom: 100px;
}

.spacer {
    border-top: 1px solid grey;
    height: 10px;
}

.numberedLabel {
    text-align: right;
}

#formIcon {
    font-size: 36px;
}

#formUploadImage {
    display: flex;
    max-width: 100%; 
    min-height: 100%; 
    max-height: 175px; 
    object-fit:cover; 
    margin: auto;
}

.imageLabel {
    cursor: pointer;
    height: fit-content;
    margin-bottom: -6px;
}

.imageButton {
    padding: 2px;
    width: fit-content
}

.imageInput {
    display: none
}

.difficultyInput {
    display:flex;
    align-items: center
}