.recipeimage {
    height: 200px;
    width: 100%;
    object-fit: cover
}

.article {
    color: black;
    text-decoration: none !important;
    display: block;
    margin: auto;
    text-align: center;
}

.articleimage {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#landingheader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.on {
    color: #000;
}
.off {
    color: #ccc;
}

.card-body {
    padding-top: 0.3rem;
}

.relativeContainer {
    position: relative;
}

#newRecipeButton {
    float: right;
    font-size: max(32px,3vw);
}

#recipeContainer {
    padding-left: var(--bs-gutter-x, 2rem);
    padding-right: var(--bs-gutter-x, 2rem);
    border-radius: 10px;
    padding-bottom: 50px;
}

#recipeViewContainer {
    max-width: 720px;
    margin: auto;
    position: relative;
}

h1 {
    font-size: max(32px,2.8vw);
}

#ratingButton {
    position: absolute;
    top: 10px;
    right: 16px
}

.userLink {
    color: blue;
    text-decoration: underline;
}

#servingInput {
    margin-bottom: 0px !important;
}

#servingInputContainer {
    max-width: 34%; 
    padding-top: 1px;
    padding-bottom: 1px;
}

#servingSize {
    margin: auto;
}

.starIcon {
    height: 24px;
    width: 24px;
}

#loadReviewButton {
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#averageStarRating {
    margin-top: -10px;
    margin-bottom: 5px;
}

#averageRating {
    vertical-align: middle;
}

.reportButton {
    height: 20px;
    width: 20px;
    padding: 0px;
    position: absolute;
    top: 10px; 
    right: 10px
}

.reportIcon {
    vertical-align: top;
}

#servingSize {
    width:60px
}

.recipeImg{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.r-card{
    width: 18rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 calc(25% - 1em);
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    cursor: pointer;
}

.r-card:hover{
    color: rgb(116, 116, 116);

}

.articlename{
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: #000;
    width: 16rem;
}

.articlename:hover{
    color: rgb(116, 116, 116);
}

.date-created{
    color: slategray;
    font-size: small;
    padding: 2px;
    width: 16rem;
}

.author-name{
    font-size: medium;
    padding: 2px;
    color: #000;
    width: 16rem;
}

.card-body{
    width: 18rem;
    overflow: scroll;
    height: 130px;
}

#forkButton {
    margin-left: 10px
}