.recipeimage {
    height: 200px;
    width: 100%;
    object-fit: cover
}

.article {
    color: black;
    text-decoration: none !important;
    display: block;
    margin: auto;
    text-align: center;
}

.articleimage {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#landingheader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.on {
    color: #000;
}
.off {
    color: #ccc;
}

.card-body {
    padding-top: 0.3rem;
}

.relativeContainer {
    position: relative;
}

#newRecipeButton {
    float: right;
    font-size: max(32px,3vw);
}

#recipeContainer {
    padding-left: var(--bs-gutter-x, 2rem);
    padding-right: var(--bs-gutter-x, 2rem);
    border-radius: 10px;
    padding-bottom: 50px;
}

#recipeViewContainer {
    max-width: 720px;
    margin: auto;
    position: relative;
}

h1 {
    font-size: max(32px,2.8vw);
}

#ratingButton {
    position: absolute;
    top: 10px;
    right: 16px
}

.userLink {
    color: blue;
    text-decoration: underline;
}

#servingInput {
    margin-bottom: 0px !important;
}

#servingInputContainer {
    max-width: 34%; 
    padding-top: 1px;
    padding-bottom: 1px;
}

#servingSize {
    margin: auto;
}

.starIcon {
    height: 24px;
    width: 24px;
}

#loadReviewButton {
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#averageRating {
    margin-top: -10px;
    margin-bottom: 5px;
}

.reportButton {
    height: 20px;
    width: 20px;
    padding: 0px;
    position: absolute;
    top: 10px; 
    right: 10px
}

.reportIcon {
    vertical-align: top;
}

#servingSize {
    width:60px
}

#forkButton {
    margin-left: 10px
}