.landingContainer{
    margin-left: 0px;
}

.searchBar{
    margin-top: 15px;
    width: 20vw;
}

.barDiv{
    display: flex;
    justify-content: flex-end;
}

.categoryButtons{
    display: flex;
    margin-left: 10vw
}

.topCategories{
    display: flex;
    justify-content: space-between;
    /* margin-left: 21vw; */
    margin-right: 2rem;
}

.categoryButton{
   /* margin-right: 10px; */
   margin-top: 15px;
   background-color: white;
   color: black;
    border: 0;
}

.categoryButton:hover{
    color: slategray;
    border: 0;
    background-color: white;
}

.categoryButton:focus{
    color: slategray;
    background-color: white;
}

.addBtn{
    font-size: 40px;
    margin-top: 13px;
    margin-left: 2rem;
    padding-left: calc(var(--bs-gutter-x) * .5);
    display: flex;
    justify-content: flex-start;
}

.addBtn:hover{
    cursor: pointer;
    color: lightgray;
}

.mainFilterSection{
    float: left;
    width: 18vw;
    height: 100vh;
    min-height: calc(100vh - 56px);
    border-right: 0.5px solid rgb(211, 209, 209);
    margin-right: 20px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
    box-shadow: 10px 0 5px -2px rgb(235, 233, 233);
    border-radius: 7px;
    overflow-x: hidden;
    overflow-y: scroll !important;
    padding-left: 2vw;
    padding-right: 2vw;
    position: sticky;
    top: 0;
    z-index: 100;
}

.filterHeader{
    /* text-align: center; */
    margin-left: 0.1rem;
    /* margin-bottom: 20px; */
    text-align: center;
    /* display: flex;
    justify-content: space-between; */
    margin-top: 17px;
}

.filterSubHeader{
    margin-left: 0.1rem;
    margin-bottom: 20px;
    text-align: center;
    font-size: small;
    color: slategray;


}

.courseFilter{
    margin-bottom: 15px;
}

.radioButton{
    margin-bottom: 0.3rem;
}

.twoRadioButtons3{
    display: flex;
    /* justify-content: space-between; */

}

.radioButtonDessert{
    margin-bottom: 0.3rem;
    margin-left: 0.9rem;
}

.twoRadioButtons2{
    display: flex;

}

.radioButtonEntree{
    margin-bottom: 0.3rem;
    margin-left: 0.8rem;
}

.twoRadioButtons1{
    display: flex;

}

.radioButtonAllRecipes{
    margin-bottom: 0.3rem;
    margin-left: 3rem;
}

.CheckBoxCuisineOther{
    margin-left: 2.02rem;
}

.CheckBoxCuisineIndian{
    margin-left: 2.67rem;
}

.CheckBoxCuisineItalian{
    margin-left: 3.35rem;
}

input{
    margin-right: 3px;
}

.DifficultySlider{
    margin-top: 1rem;
    color: lightgray
}

.DifficultySlider.MuiSlider-thumb{
    width: 1rem;
    height: 1rem;

}

.ingredientCategoryHeader{
    margin-top: 1rem;
    font-size: medium;
    margin-bottom: 0px;
    font-weight: 500;

}

.CheckBoxIngredients{
    display: flex;
}

.CheckBoxIngredientsBeef{
    margin-left: 3rem;
}

.CheckBoxIngredientsFish{
    margin-left: 4.55rem;
}

.CheckBoxIngredientsCarrot{
    margin-left: 1.8rem;
}

.CheckBoxIngredientsPotato{
    margin-left: 3.28rem;
}

.CheckBoxIngredientsOnion{
    margin-left: 3.27rem;
}

.CheckBoxIngredientsGinger{
    margin-left: 4rem;
}

.CheckBoxIngredientsRice{
    margin-left: 2.25rem;
}

.addHeader{
    display: flex;
    margin-top: 2.1rem;
    margin-left: 0.5rem;

}

.addHeader:hover{
    color: black;
    cursor: default;
}

.addDiv{
    display: flex;
}

.sortDropDown{
    display: flex;
    justify-content: end;
    margin-right:2rem;
}

.dropDownComp{
    background-color: white;
    color: slategray;
    border-color: slategray;
}

.sortButton:focus{
    background-color: rgb(183, 194, 197)

}

.secondaryHead{
    display: flex;
    justify-content: space-between;

}

.TodayCook{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: larger;

}

.filterUpstairs{
    display: flex;
}

.clearButton{
    width: 4rem;
    font-size: small;
    display: flex;
    padding: 2px;
    background-color: white;
    color: slategray;
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
    margin-left: 14px;
}

.clearButton:hover{
    background-color: lightgray;
    border-color: black;
    color: black;
}

.ingHeader{
    margin-top: 3px;
}


input[type='radio'] {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    /* box-shadow:0 0 5px 0px gray inset; */
  }
  
  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
  }
  input[type='radio']:checked:before {
    background: #a5c2cf;
  }


  input[type='checkbox'] {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    border:1px solid darkgray;
    /* border-radius:50%; */
    outline:none;
    /* box-shadow:0 0 5px 0px gray inset; */
  }
  
  input[type='checkbox']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;        
  }
  input[type='checkbox']:checked:before {
    background: #a5c2cf;
  }