body{
    border-top: 1px solid grey;
}
#login{
    margin-left: auto;
    margin-right: auto;
}
#failedLogin{
    color: rgb(255, 0, 0);
}
#LoginUsername{
    width: 70%
}
#LoginPassword{
    width: 70%
}
#log{
    background-color: rgb(73, 130, 254);
}