.user{
    width: 18rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 calc(25% - 1em);
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    min-height: 350px;
}

.user_img{
    object-fit:fill;
    border-radius: 10px;
    max-height: 162px;
    width: 100%;
    object-fit: cover;
}

.body{
    overflow-y:hidden;
    overflow-x:hidden;
}
.del{
    float:left;
    width: 44%;
    background-color: rgba(255, 70, 70, 0.932);
    position: absolute;
    bottom: 3%;
    left: 5%;
}
.edit{
    float:right;
    width: 44%;
    background-color: rgb(142, 215, 142);
    position: absolute;
    bottom: 3%;
    right: 5%;
}
#toBuf{
    margin-right: 15px;
}