.AdminContainer{
    background-color: white;
}

.h4{
    margin-left: 40px;
   
}

.h3{
    margin-top: 50px;
    text-align: center;
}

.card_row{
    margin: 0 auto;
}

.button_center{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user_card_group{
    margin: 0 auto;
}

.recipe_card_group{
    margin: 0 auto;
}

.flag_table{
    margin: 0 auto;
    width: 75%;
    margin-bottom: 20px;
}

.resolveBtn{
    text-align: center;
}

td{
    text-align: center;
}
th{
    text-align: center;

}

.reportCard{
    max-width: 70rem;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;

}

.reportHeading{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.reportDesc{
    margin-top: 0.25rem;
    text-align: center;
}

.strong{
    font-weight: bold;
}

.refresh{
    margin-left: 5px;
}