.AdminContainer{
    background-color: white;
}

.h4{
    margin-left: 40px;
   
}

.h3{
    margin-top: 50px;
    text-align: center;
}

.card_row{
    margin: 0 auto;
}

.user_card_group{
    margin: 0 auto;
}

.recipe_card_group{
    margin: 0 auto;
}

.flag_table{
    margin: 0 auto;
    width: 75%;
    margin-bottom: 20px;
}

.resolveBtn{
    text-align: center;
}

td{
    text-align: center;
}
th{
    text-align: center;

}